In [18]:
!pip install update pandas

Requirement already satisfied: update in c:\users\heet shah\appdata\local\programs\python\python311\lib\site-packages (0.0.1)
Requirement already satisfied: pandas in c:\users\heet shah\appdata\local\programs\python\python311\lib\site-packages (2.2.0)
Requirement already satisfied: style==1.1.0 in c:\users\heet shah\appdata\local\programs\python\python311\lib\site-packages (from update) (1.1.0)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\heet shah\appdata\local\programs\python\python311\lib\site-packages (from pandas) (1.26.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\heet shah\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\heet shah\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\heet shah\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2023.4)
Requirement already satisfied: six>=1.5 in c:\users\heet shah\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [19]:
!pip install update numpy

Requirement already satisfied: update in c:\users\heet shah\appdata\local\programs\python\python311\lib\site-packages (0.0.1)
Requirement already satisfied: numpy in c:\users\heet shah\appdata\local\programs\python\python311\lib\site-packages (1.26.2)
Requirement already satisfied: style==1.1.0 in c:\users\heet shah\appdata\local\programs\python\python311\lib\site-packages (from update) (1.1.0)

In [20]:
import pandas as pd
import numpy as np 
from random import choices

In [21]:
np.random.seed(10)

In [22]:
# Generating data
num_records = 1000
num_outlets = 10
num_products = 5

In [23]:
dates = pd.date_range(start='2024-01-31', end='2024-06-30')
dates = choices(dates, k=num_records)

In [24]:
outlets = ['Outlets_' + str(i+1) for i in range(num_outlets)]
outlets = choices(outlets, k=num_records)

In [25]:
products = ['Products_' + str(i+1) for i in range(num_products)]
products = choices(products, k=num_records)

In [26]:
units_sold = np.random.randint(1, 200, num_records)
price_pre_unit = np.random.uniform(10, 500, num_records)

In [27]:
total_sales = price_pre_unit * units_sold

In [28]:
len(total_sales)

1000

In [36]:
df  = pd.DataFrame({
    'Date' : dates,
    'Outlet' : outlets,
    'Product' : products,
    'Unts_sold' : units_sold,
    'Price_per_unit' : price_pre_unit,
    'Total_Sales': total_sales
})

In [37]:
df.head()

        Date     Outlet     Product  Unts_sold  Price_per_unit   Total_Sales
0 2024-06-28  Outlets_5  Products_3         10       27.204538    272.045385
1 2024-06-10  Outlets_6  Products_1        126      195.408008  24621.409060
2 2024-02-14  Outlets_5  Products_3         16      185.391255   2966.260076
3 2024-02-02  Outlets_7  Products_5         65      137.191145   8917.424411
4 2024-05-12  Outlets_5  Products_1        114      304.343828  34695.196345

In [16]:
api_key = 'your_api_key'

In [ ]:
from pandasai import PandasAI
from pandasai.llm.openai import OpenAi

In [ ]:
llm = OpenAI(api_token = api_key)
pandas_ai = PandasAI(llm)

In [39]:
pandas_ai.run(df, "Which product has the highest total_sales?")

'Products_1'